<app-header></app-header>
<div class="content-wrapper">
  <section class="content">
      <h1>Feedbacks</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Feedback Id</th>
      <th scope="col">Order Description</th>
      <th scope="col">Email Id</th>
      <th scope="col">Product Id</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of feedback">
        <td>
            <input type="checkbox" (change)="chkchng(item)"/>
          </td>
      <td>{{item.f_id}}</td>
      <td>{{item.f_desc}}</td>
      <td>{{item.fk_email_id}}</td>
      <td>{{item.fk_pro_id}}</td>
      <td><!--<img src="../.././assets/glyphicons_free/glyphicons/png/glyphicons-151-edit.png" (click)="editUser(item)">-->&nbsp;&nbsp;
        &nbsp;&nbsp;<img src="../.././assets/glyphicons_free/glyphicons/png/glyphicons-8-user-remove.png" (click)="onDeleteFeedback(item)"></td>
      
    </tr>
    <tr>
        <td>
          <button (click)="delAll()">Delete All</button>
        </td>
      </tr>
  </tbody>
</table>  
</section>
</div>



